<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Option Api Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="">

        <!--Import Vue-->
        <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>

    </head>
    <body>
        <div id="app">
            <div class="p-6 m-auto rounded-lg bg-white-900 shadow-lg max-w-3xl place-content-center">
                <div class="m-6 pt-1">
                  <div class="font-serif text-slate-900 font-black text-4xl">
                    <h1> {{ greetingMessage }} </h1>
                    </div>
                    
                    <div>
                        <span class="font-serif text-slate-400 text-base"> {{ messages }}</span>
                    </div>

                    <p class="font-serif">
                        {{ description }}
                    </p>

                    <div>{{ alert }}</div>
                    <button v-on:click="alert=submitted">Submit</button>
                    <div>
                        <button v-on:click="hidden()" class="rounded-md border-2 border-orange-100 px-3.5 py-1 bg-orange-100">Hide</button>
                    </div>
                    <div v-if="seen">Hi</div>
                </div>
            </div>
        </div>

        <div id="app2">
            <div class="p-6 m-auto rounded-lg bg-white-900 shadow-lg max-w-3xl place-content-center">
                <div class="m-6 pt-1">
                  <div class="font-serif text-slate-900 font-black text-4xl">
                    <div>{{ alert }}</div>
                    <button v-on:click="alert=submitted">Submit</button>
                    <div>
                        <button v-on:click="hide()" class="rounded-md border-2 border-orange-100 px-3.5 py-1 bg-orange-100">Hide</button>
                    </div>
                    <div v-if="hidden">Hi</div>
                </div>
            </div>
        </div>

        

        <!--Import Vue app-->
        <script src="vue.js"></script>

        <!--Mount Vue App-->
        <script>
            const mountedApp = app.mount("#app")
        </script>

        <script>
            const mountedApp2 = app2.mount("#app2")
        </script>
    </body>

    <style>
        .aboutMe-message {
            color: #718096;
            font-size: 1rem;
            line-height: 1.5;
        }
      </style>
</html>